<div class="container" id="splash-wrapper">
  <div id="logo-wrapper">
    <%= image_tag "Logo_with_text_lower_case.svg", height:"400px", id:"logo"%>
  </div>
  <div id="form">
      <%= form_tag("/add-email", method: "post",  remote: true) do %>
        <%= text_field_tag(:email, nil, class:"form-control", id:"email-input-form", placeholder:"Email") %>
        <%= submit_tag("Submit", class:"btn", id:"submit-button", disabled:"disabled") %>
      <% end %>
  </div>
  <div id="thank-you" >
    <h1>Thanks!</h1>
    <h2>Let's get sharing</h2>
    <div id="social-wrapper">
       <a class="btn btn-inverse" href="http://www.facebook.com/sharer/sharer.php?s=100&p[url]=shoutinline.com&p[images][0]=http://protected-taiga-4545.herokuapp.com/assets/Logo-b893de31123bbf0b38cabe3ecc8f643d.svg&p[title]=Shout&p[summary]="
         target="_blank"><%= image_tag "facebook_icon.png", height: "100", width: "100", id:"fb-link" %></a>
      <a href="http://twitter.com/home?status=Just%20got%20on%20the%20wait%20list%20for%20Shout%20-%20a%20mobile%20app%20to%20buy%20and%20sell%20spots%20in%20line%20@shoutinline%20" target="_blank"><%= image_tag "twitter_icon.png", height: "100", width: "100", id:"tw-link"  %></a>

      <a href="http://www.instagram.com/shoutinline" alt= "Shout Instagram page" target="_blank"><%= image_tag "instagram_icon.png", height: "64", width: "64", id:"insta-link" %></a>
      <a href="mailto:?Subject=Check%20Out%20Shout&body=Hey, %0D%0A%0D%0A I found this app, because I am with it, and I thought you might like it. %0D%0A%0D%0A Start saving some time. Here is the link  =>  http://www.shoutinline.com. %0D%0A%0D%0ABest,%0D%0A">
      <%= image_tag "mail_icon.png", height: "100", width: "100" , id:"email-link" %>
    </div>
  </div>
</div>
